version: "3.8"

services:
  auth-service:
    image: koushik06/auth-service:latest
    container_name: auth-service
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
    env_file:
      - .env
    networks:
      - app-network

  jobs-service:
    image: koushik06/jobs-service:latest
    container_name: jobs-service
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
    env_file:
      - .env
    networks:
      - app-network

  reviews-service:
    image: koushik06/reviews-service:latest
    container_name: reviews-service
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
    env_file:
      - .env
    networks:
      - app-network

  chat-service:
    image: koushik06/chat-service:latest
    container_name: chat-service
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    networks:
      - app-network

  gateway:
    image: koushik06/gateway:latest
    container_name: gateway-nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - auth-service
      - jobs-service
      - reviews-service
      - chat-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
